

    .signUpContainer {
      background-image: url('../../assets/peakpx.jpg');
      background-repeat: no-repeat; 
      background-size: cover; 
      position: fixed;
      background-position: center;
      min-width: 100%;
      min-height: 100%;

    }

    .signup-form{
      max-width: 600px;
      margin-left: 600px;
      margin-top: 30px;
      padding: 30px;
      border: 1px solid #f59403;
      border-radius: 30px;
      background-color: rgba(247, 189, 151, 0.651);
    }

    .logo{
      width: 80%;
      display: block;
      margin: auto;
    }
   

    h1{
      text-align: center;
      color: #f37805;
    }
    
    b{
      font-weight: bolder;
      font-size: 34px;
      color: #0a0a0a;
    }

    #button-Submit{
      background-color: rgba(253, 78, 9, 0.753);
      border: 0px;
      border-radius: 10px;
    }

    

    #signUpAccount-button{
      margin-left: 40px;
      background-color:rgba(253, 78, 9, 0.753);
      border-radius: 10px;
      width: 140px;
      height: 60px;
      border: 0px;
      font-style: italic;
    }
 