

    .signUpContainer {
      background-image: url('../../assets/peakpx.jpg');
      background-repeat: no-repeat; 
      background-size: cover; 
      position: fixed;
      background-position: center;
      min-width: 100%;
      min-height: 100%;

    }

    .signup-form{
      max-width: 400px;
      margin-left: 500px;
      margin-top: 30px;
      padding: 30px;
      border: 1px solid #f37805;
      border-radius: 30px;
      background-color: rgba(247, 245, 243, 0.89);

    }

    .logo{
      width: 70%;
      display: block;
      margin: auto;
    }
   

    h1{
      text-align: center;
      color: #f37805;
    }

    

    #signUpAccount-button{
      margin-left: 15px;
      background-color:rgba(253, 78, 9, 0.753);
      border-radius: 10px;
      height: 40px;
      border: 0px;
      font-style: italic;
    }
 