
    .signInAccount-button{
      margin-left: 40px;
  background-color:rgba(253, 78, 9, 0.753);
  border-radius: 10px;
  width: 200px;
  height: 40px;
  border: 0px;
  font-size: 20px;
  font-style: italic;
      
    }


  
.signin-container {
  background-image: url('../../assets/form_background.jpg');
  background-repeat: no-repeat; 
  background-size: cover; 
  position: fixed;
  background-position: center;
  min-width: 100%;
  min-height: 100%;
}



.signin-form{
  width: 400px;
  margin-left: 100px;
  margin-top: 50px;
  padding: 30px;
  border: 1px solid #f59403;
  border-radius: 30px;
  background-color: rgba(248, 132, 55, 0.651);
}


.logo{
  width: 70%;
  display: block;
  margin: auto;
}