

    .signinContainer {
      background-color: #ecece5;
      background-image: url('../../assets/form_background.jpg');
      background-repeat: no-repeat; 
      background-size: cover; 
      position: fixed;
      background-position: center;
      min-width: 100%;
      min-height: 100%
    }

     .signin-form{
      max-width: 700px;
      height: 800px;
      margin-left: 660px;
      margin-top: 55px;
      padding: 30px;
      border: 1px solid #f79a0f;
      border-radius: 30px;
      background-color: rgba(247, 189, 151, 0.651);


    }

    .logo{
      width: 100%;
      display: block;
      margin: auto;
    }
   

    h2{
      text-align: center;
      color: #f37805;
    }

    b{
      font-weight: bolder;
      font-size: 34px;
      color: #0a0a0a;
    }

    #button-Submit{
      background-color: rgba(253, 78, 9, 0.753);
      border: 0px;
      border-radius: 10px;
    }

    

    #signInAccount-button{
      margin-left: 40px;
      background-color:rgba(253, 78, 9, 0.753);
      border-radius: 10px;
      width: 180px;
      height: 60px;
      border: 0px;
      font-style: italic;
      font-size: 24px;
      
    }

    
 