#profile-icon{
    margin-top: 7px;
    margin-left: 40px;

}

#cart-icon{
    margin-top: 7px;
    margin-left: 15px;
}

.bg-body-tertiary{
    padding: 10px;
    font-size: 24px;
    background-color: whitesmoke;
}
