.dashboard-navbar {
    background-color: rgba(182, 228, 247, 0.041);
  }
  
  .dashboard-navtext {
    font-size: 18px; 
    color: rgb(255, 102, 0);
  }
  
  .dashboard-navbar-brand {
    font-size: 24px; 
    color: orange;
  }